
.app {
    margin: 20px;
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 260px;
    box-shadow: 10px 10px 42px 0px rgb(11, 75, 36);
    border: none;
    border-radius: 15px;
    
  }
  
  
  input {
    margin: 10px;
    padding: 5px;
    max-width: 100px;
    border: 1px, solid;
    border-radius: 6px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }